<div id="banner" class="centered">
  <p class="righteous centered" id="bannerText">rb</p>
</div>


<nav id="navBar">
  <ul id="navList">
    <li class="navItem raleway"><a class="navLinks" href="/">Home</a></li>
    <li class="navItem raleway"><a class="navLinks" href="/about">About</a></li>
    <li class="navItem raleway"><a class="navLinks" href="/contact">Contact</a></li>
    <li class="navItem raleway"><a class="navLinks" href="/faq">FAQ</a></li>
    <li class="navItem raleway"><a class="navLinks" href="/login"><button id="loginPageButton">Login</button></a></li>
    <li class="navItem raleway"><a class="navLinks" href="/logout"><button id="logoutPageButton">Logout</button></a>
    </li>


  </ul>
</nav>

<!-- style="display: none;" -->